<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:property-placeholder location="classpath:personWithPropertyValue.properties"/>-->

    <bean id="person" class="com.kaizhang.bean.Person">
        <property name="age" value="18"/>
        <property name="name" value="zhangsan"/>
    </bean>

    <!--扫描包，只要标注了@Controller、@Service、@Repository、@Component其中的任何一个，都会自动扫描加入容器中-->
    <!--<context:component-scan base-package="com.kaizhang.controller"/>-->
</beans>